.user-photos {
  padding: 20px;
}

.user-photo-card {
  margin-bottom: 20px;
  
}

.user-photo-media {
  max-width:400px;
  max-height:500px; 
  object-fit: contain;
  
}

.comment-section {
  margin-top: 10px;
}

.comment-author {
  font-weight: bold;
}

.comment-time {
  font-style: italic;
}

.comment-text {
  margin-top: 5px;
}
