.photo-list-container,
.photo-viewer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  min-height: 100px;
}
.photo-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-image {
  max-height: 1000px;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
}

.comment {
  width: calc(100% - 32px);
  margin: 0 16px 16px;
  padding: 10px 12px;
  background-color: #f9f9f9;
  border-left: 4px solid #1976d2;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.4;
}
.step-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* đẩy nút ra 2 phía */
  gap: 10px;
  width: 100%;
  width: 560px; /* hoặc tùy chỉnh kích thước theo ý bạn */
}

.step-buttons button {
  width: 120px;
  font-weight: bold;
  text-transform: none;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.step-buttons button:hover {
  background-color: #145ca0;
}
