.user-detail-container {
    padding: 20px;
  }
  
  .user-detail-container h5 {
    margin-bottom: 12px;
  }
  
  .user-detail-info {
    margin-bottom: 8px;
  }
  
  .view-photos-button {
    margin-top: 10px;
  }
  